@font-face {
    font-family: "signature";
    src: url("signature.eot"); /* IE9 */
    src: url("signature.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("signature.woff") format("woff"), /* chrome、firefox */
    url("signature.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("signature.svg#signature") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


