@font-face {
    font-family: "snowhill";
    src: url("snowhill.eot"); /* IE9 */
    src: url("snowhill.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("snowhill.woff") format("woff"), /* chrome、firefox */
    url("snowhill.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("snowhill.svg#snowhill") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


